/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

main {
    background: repeat url("../img/bg.jpg") ;
}

.container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

/* Navegação */

header {
    height: 120px;
    background: #111;
}

.navSide ul li, .navMenu ul li {
    list-style: none;
}

.navSide ul li a, .navMenu ul li a {
    text-decoration: none;
}

.navMenu {
    display: flex;
    width: 1280px;
    align-content: center;
    justify-content: space-between;
}

.navMenu ul {
    display: flex;
    height: 120px;
    width: 400px;
    align-items: center;
    justify-content: space-around;
}

.navMenu ul li a {
    color: #FFF;
    font-size: 1rem;
}

.navMenu ul li {
    border-radius: 10%;
    transition: all .25s linear .25s;
    padding: 15px;
}

.navMenu ul li:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #999;
}


.logo {
    height: 90px;
    width: 90px;
    border-radius: 100%;
}

.logo img {
    height: 120px;
    width: 120px;
}
.searchInput {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.searchInput input {
    width: 500px;
    height: 40px;
}

.searchInput button {
    height: 40px;
    width: 40px;
}

/* Main - Slide */
main {
    flex-direction: column;
}

.slide {
    width: 1280px;
    height: 400px;
    background-image: url("../img/slide.jpg");
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    object-fit: cover;

}

/* Main - Destaques*/
.dContent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.7);
}
.alignContent {
    display: flex;
    width: 1280px;
}

.dContent .alignContent {
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 500px;
}
.destaquesProd {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 380px;
    text-align: center;
    transition: all .25s linear .1s;
}

.destaquesProd:hover {
    transform: scale(1.05);
}

.destaquesProd img {
    height: 280px;
    width: 280px;
    object-fit: cover;
}

.destaquesProd h2 {
    background-color: #111;
    width: 100%;
    max-height: 100%;
    color: yellow;
    font-size: 1rem;
    padding: 5px;
}

.destaquesProd p {
    max-height: 100%;
    width: 100%;
    color: #fff;
    padding: 5px;
}

/* Main Promoções e combos*/

.pContent {
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

.contentLeft, .contentRight {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
}

.contentRight {
    justify-content: flex-start;
    align-content: flex-start;
    height: 100%;
}

.rightTitle, .leftTitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 600px;
    height: 100px;
    padding: 20px 0;
    margin: 20px 0;
    border-bottom: 1px dotted #000;
}

.promoProd {
    display: flex;
    height: 300px;
    width: 250px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.contentLeft {
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;
}

.combosProd {
    margin: 20px;
    width: 400px;
    height: 500px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer */

footer {
    height: 300px;
    background: #111;
}

/* Footer - navSide */
.navSide ul {
    border-right: 1px solid #000;
    ;
}

.navSide ul li {
    margin: 20px;
}

.navSide ul li a {
    color: #fff;
}