/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

main {
    background: repeat url("../img/bg.jpg") ;
}

.container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

/* Navegação */

header {
    height: 120px;
    background: #111;
}
.navDropdown {
    display: none;
}
.navSide ul li, .navMenu ul li {
    list-style: none;
}

.navSide ul li a, .navMenu ul li a {
    text-decoration: none;
}

.navMenu {
    display: flex;
    width: 1280px;
    align-content: center;
    justify-content: space-between;
}

.navMenu ul {
    display: flex;
    height: 120px;
    max-width: 400px;
    align-items: center;
    justify-content: space-around;
}

.navMenu ul li a {
    color: #FFF;
    font-size: 1rem;
}

.navMenu ul li {
    border-radius: 10%;
    transition: all .25s linear .25s;
    padding: 15px;
}

.navMenu ul li:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #999;
}


.logo {
    position: relative;
    height: 90px;
    width: 90px;
    border-radius: 100%;
}

.logo img {
    height: 120px;
    width: 120px;
}
.searchInput {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.searchInput input {
    width: 500px;
    height: 40px;
    margin-left: 30px;
}

.searchInput button {
    height: 40px;
    width: 40px;
}

/* Main - Slide */
main {
    flex-direction: column;
}

.slider {
    width: 100%;
    max-height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all .1s ease-in-out .1s;
}

.slides {
    position: relative;
    max-width: 1280px;
    max-height: 400px;
    overflow: hidden;
    object-fit: cover;
    
}
.slideItem {
    object-fit: cover;
    max-height: 400px;
    display: none;
        
}
.slideItem img {
    width: 1280px;
    height: 400px;
}

.slideLabel {
    z-index: -1;
    position: absolute;
    display: flex;
    transform: translate(50%, 50%);
}
.slideLabel p, .slideLabel h1{
    color: #fff;
}
.slideActive {
    display: block;
    animation: opacityAction .5s;
}


@keyframes opacityAction {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: opacity linear;
    }
  }

.slideActions {
    max-width: 100%;
    width: 1280px;
    height: 400px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px;
}

.slideActions button {
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.7);
    color: #FFF;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .5s linear .1s;
    cursor: pointer;
}

.slideActions button:hover {
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.1);
    color: red;
    border-radius: 50%;
    font-size: 1.5rem;
    border-color: #000;
}


/* Main - Destaques*/
.dContent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.7);
}
.alignContent {
    display: flex;
    width: 1280px;
}

.dContent .alignContent {
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 500px;
}
.destaquesProd {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 380px;
    text-align: center;
    transition: all .25s linear .1s;
}

.destaquesProd:hover {
    transform: scale(1.05);
}

.destaquesProd img {
    height: 280px;
    width: 280px;
    object-fit: cover;
}

.destaquesProd h2 {
    background-color: #111;
    width: 100%;
    max-height: 100%;
    color: yellow;
    font-size: 1rem;
    padding: 5px;
}

.destaquesProd p {
    max-height: 100%;
    width: 100%;
    color: #fff;
    padding: 5px;
}

/* Main Promoções e combos*/

.pContent {
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

.contentLeft, .contentRight {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
}

.contentRight {
    justify-content: flex-start;
    align-content: flex-start;
    height: 100%;
}

.rightTitle, .leftTitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 600px;
    height: 100px;
    padding: 20px 0;
    margin: 20px 0;
    border-bottom: 1px dotted #000;
}

.promoProd {
    display: flex;
    height: 300px;
    width: 250px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.contentLeft {
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;
}

.combosProd {
    margin: 20px;
    width: 400px;
    height: 500px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer */

footer {
    height: 300px;
    background: #111;
}

/* Footer - navSide */
.navSide ul {
    border-right: 1px solid #000;
    ;
}

.navSide ul li {
    margin: 20px;
}

.navSide ul li a {
    color: #fff;
}


/* Media query */

@media (max-width: 1280px)
{
    .navMenu ul {
        width: 400px;
    }
    .searchInput {
        width: 300px;
    }
    .pContent, .alignContent, .slideActions, .slideItem img, .slider, .navMenu {
        width: 960px;
    }

    .dContent .alignContent {
        flex-wrap: wrap;
        height: 100%;
    }

    .contentLeft, .contentRight {
        width: 500px;
    }
}

@media (max-width: 1080px ) 
{
    .pContent, .alignContent, .slideActions, .slideItem img, .slider, .navMenu {
        width: 900px;
    }
}

@media (max-width: 900px) 
{
    .logo img {
        width: 90px;
        height: 90px;
    }
    .pContent, .alignContent, .slideActions, .slideItem img, .slider, .navMenu {
        width: 720px;
    }
    .pContent {
        flex-wrap: wrap;
    }
    .contentLeft, .contentRight {
        width: 300px;
    }

    .navMenu ul {
        display: none;
    }

    .navDropdown {
        display: flex;
        margin:60px ;
        width: 40px;
        height: 40px;
        
    }
    .navDropdown svg  {
        fill: #FFF;
        cursor: pointer;
        position: relative;
    }

    .iconDropOpen {
        display: none;
    }

    .dropDownContent {
        display: none;
        position: absolute;
        z-index: 1;
        min-height: 400px;
        min-width: 300px;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.7);
        list-style: none;
        top: 80px;
        right: 50px;
        font-size: 1.5rem;
        align-items: center;
    }
    .dropDownContent li a {
        text-decoration: none;
        color: #FFF;
    }
    .dropDownContent li {
        padding: 30px;
        cursor: pointer;
        
    }
    .dropDownContent li:hover {
        background-color: rgba(255, 255, 255, 0.3);
        transition: all .25s linear;
    }
    

    .navDropdown:hover .iconDropClose {
        display: none;
    }
   
    .navDropdown:hover .iconDropOpen, .navDropdown:active .iconDropOpen {
        display: flex;
        fill: red;
    }
    .navDropdown:hover .dropDownContent, .navDropdown:active .dropDownContent {
        display: flex;
    }
}
